footer.footer
  .container
    .row
      .col-sm-4
        .f-logo
          a(href="#!")
            img(src="images/logo-footer.png", alt="footer-logo")
      .col-sm-4.col-md-5
        .footer-info
          .footer-info__item
            a(href="tel:+7(926)426-55-55") Телефон: +7(926)426-55-55
          .footer-info__item
            a(href="mailto:info@simplex-software.ru") Email: info@simplex-software.ru
      .col-sm-4.col-md-3
        .copy © 2017. Все права защищены.
    

    

    

// #footer
