header.header
  .container
    nav.navbar.navbar-default(role='navigation')
      //.navbar-header
        //button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        //  span.sr-only Toggle navigation
        //  span.icon-bar
        //  span.icon-bar
        //  span.icon-bar



      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
          li(itemprop="name" data-menu="index")
            a(href='/' itemprop="url") О компании
          li(itemprop="name" data-menu="portfolio")
            a(href='portfolio.html' itemprop="url") Портфолио
          li(itemprop="name" data-menu="technology")
            a(href='technology.html' itemprop="url") Технологии
          li(itemprop="name" data-menu="contacts")
            a(href='contacts.html' itemprop="url") Контакты
          li(itemprop="lang" data-menu="lang").lang
            .lang-rus(data-lang="ru") РУС
            span  /
            button.lang-set.lang-eng(data-lang="en") ENG
          li(itemprop="name" data-menu="info")
            ul.navbar-nav2(itemscope itemtype="http://schema.org/SiteNavigationElement")
              li(class="phoneNumber" itemprop="name" data-menu="phoneNumber")
                a( href="tel:+7(499)380-73-75" itemprop="url") +7(499)380-73-75
              li(class="email" itemprop="name" data-menu="mail")
                a( href="mailto:info@simplex-software.ru" itemprop="url") info@simplex-software.ru

              //li(itemprop="name" data-menu="info")
                        //    .header-info
                        //        .header-info__phone-number
                        //            a(href="tel:+7(499)380-73-75") +7(499)380-73-75
                        //        .header-info__mail
                        //            a(href="mailto:info@simplex-software.ru") info@simplex-software.ru
  // container end
// header