head
  meta(charset='utf-8')
  title Разработка программного обеспечения на заказ
  meta(name='keywords', content='разработка программного обеспечения на заказ, web приложения, ПО на заказ')
  meta(name='description', content='Компания по разработке программного обеспечения на заказ: автоматизация бизнеса, разработка ПО для порталов и сайтов')
  meta(name='format-detection', content='telephone=no')
  meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1')
  link(rel='stylesheet', href='css/bootstrap.min.css', type='text/css')
  link(rel='stylesheet', href='css/lightbox.min.css', type='text/css')
  link(rel='stylesheet', href='css/main.css', type='text/css')