.jumbtrone
  .container
    .logo
      a(href="/")
        h2 <span>S</span>IMPLEX-SOFTWARE.ru
    .jumbtrone__body
      h1.jumbtrone__title Customized software development
      .jumbtrone__subtitle Blockchain based development
// jumbtrone end