.jumbtrone
  .container
    .logo
      a(href="/")
        h2 <span>S</span>IMPLEX-SOFTWARE.ru
    .jumbtrone__body
      h1.jumbtrone__title Разработка ПО на заказ
      .jumbtrone__subtitle Разработка на основе технологии Blockchain
// jumbtrone end