doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade


  body
    #wrapper

      //= template/header.jade

      section.middle.middle-index
        
        .jumbtrone
          .container
            .logo
              a(href="index.html")
                img(src="images/logo.png", alt="logo")
            
            .jumbtrone__body
              .jumbtrone__title Разработка ПО на заказ
              .jumbtrone__subtitle основное направление деятельности компании Simplex Software
        // jumbtrone end
        .container

          .our-advantages.our-advantages_big
            h1.our-advantages__title Наши преимущества
            ul.our-advantages__list
              mixin our-advantages-item(idName, title, image, subtitle, text)
                li.our-advantages__item.our-advantages-item(id=idName)

                  h5.our-advantages-item__title!= title
                  img.our-advantages-item__image(src= image, alt= title)
                  h6.our-advantages-item__subtitle!= subtitle
                  .our-advantages-item__text!= text
              +our-advantages-item("flex","Гибкость", "images/advantage-icon-1.png", "У Вас есть отличная идея, но не знаете с чего начать? <br/>А может не хотите писать ТЗ?", "<p>Мы  поможем  Вам  подобрать  решения  подходящие  по  цене  и  функционалу, подскажем с чего начать и составим ТЗ. Мы можем провести профессиональный анализ и упростить подход к решению поставленных задач, за счет это сократить Ваши расходы на программное обеспечение, снизить цену проекта Поэтапная сдача проекта позволит  Вам, при желании или  при  ограниченном  бюджете, оплачивать каждый этап отдельно. </p><p>Когда Вы в точности не знаете что нужно Вашим потенциальным пользователям (клиентам), мы рекомендуем  сначала разработать минимально жизнеспособный продукт (MVP).</p>")
              +our-advantages-item("events","Хотите быть в курсе событий?", "images/advantage-icon-2.png", "Прозрачность работы с нами", "<p>В компании реализована система управления проектами, которая позволяет быть в курсе всех событий. Вы можете удаленно, со своего компьютера посмотреть какие задачи уже выполнены, какие  запланированы  к  выполнению  —  увидеть на какой стадии сейчас проект. Частые релизы помогают увидеть разрабатываемую систему вживую (в работе) ещё до получения окончательного (завершенного) результата.</p>")
              +our-advantages-item("artifact","Переживаете, что проект не будет завершен?", "images/advantage-icon-3.png", "Передача артефактов разработки", "<p>Многие компании  стараются завязать клиента на себя и пишут программы так, что в разработанной программной системе разобраться никто из сторонних исполнителей не сможет. Мы же вместе с программой разработанной на заказ передаём <b>исходный код + пакет документации</b>: для  администратора, схему базы данных и комментарии к ней, комментарии к коду. Такой поход позволяет дать свободу клиенту в выборе разработчика и позволит в будущем сделать перевод разработки и поддержки внутрь компании.</p>")
              +our-advantages-item("no_bureaucracy","Всё ещё сомневаетесь?", "images/advantage-icon-4.png", "Без бюрократии", "<p>В отличие от крупных компаний, в которых разросшийся штат сотрудников, у нас всё решается оперативно. Наш Генеральный директор лично контролирует каждый проект, что позволяет сразу принимать важные решения и ускоряет все процессы в компании. Прямая связь с руководством компании это большой плюс к ответственности всех сотрудников, поэтому мы работаем хорошо! Контакты генерального директора есть в открытом доступе, Вы всегда сможете пообщаться с ним напрямую.</p>")
              +our-advantages-item("connect","Мы всегда на связи!", "images/advantage-icon-5.png", "", "<p>Профессиональные менеджеры, которые разбираются в нюансах написания ПО и при этом разговаривают на «человеческом» языке, будут сопровождать Ваш проект с самого начала и до получения готового, работающего программного продукта.</p><p>Предусмотрена поддержка уже готового проекта: мы всегда на связи! Вы оперативно получите техническую поддержку. </p>")

              
        form.subscribe-form
          .subscribe-form__title Свяжитесь с нами по телефону +7(499)380-73-75 или пришлите описание проекта на info@simplex-software.ru
          button(type="submit" onclick="sendMail();").subscribe-form__submit Написать нам письмо


          
    //= template/footer.jade

    //= template/scripts.jade