doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body(data-menu="contacts")
    #wrapper

      //= template/header.jade



      section.middle
        
        .container
          .title-h1 
            span.bold Разработка ПО на заказ 
            | - основное направление деятельности компании 
            span.red.bold Simplex Software

        .divider-grey.divider-grey--thin

        .container
          .row
            .col-sm-6.col-md-5.col-md-offset-1
              .contacts-info
                span Симплекс Софтвер
                .page-subtitle Контакты:
                
                .contacts-section
                  .contacts-title Генеральный директор:
                  div.contacts-section__item Ржевский Дмитрий Валерьевич
                  div.contacts-section__item Е-mail: 
                    a(href="mailto:info@simplex-software.ru") info@simplex-software.ru
                  div.contacts-section__item Телефон: +7(926)426-55-55
                  br
                  .contacts-title Отдел продаж:
                  div.contacts-section__item Телефон: +7(499)380-73-75

                .contacts-section
                  .contacts-title Юридический адрес:
                  div.contacts-section__item Москва, ул. Воронежская, д. 28, к.1

                .contacts-section
                  .contacts-title Фактический адрес:
                  div.contacts-section__item Москва, Окружной проезд, д. 19. БЦ "Окружной"

                .logo-contacts
                  img(src="images/logo-footer.png", alt="logo")


            .col-sm-6
              .map
                //script(<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A97e6b02d7c1ae47e9c85ad9a82adace772a369f7298ec2e5cdaaebdffe5f3143&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true")
                script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A72b2e591bfc60294bf2fcf69632dd18f9e568b39751040b9868c8e6d937503c6&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true")
          

          
    //= template/footer.jade

    //= template/scripts.jade
