doctype html
html(xmlns='http://www.w3.org/1999/xhtml' lang="en")

  //= template/head_en.jade


  body
    #wrapper

      //= template/header_en.jade

      section.middle.middle-index

        //= template/jumbtrone_en.jade

        .container
          .methodology
            h1.methodology__title Software for business automatization
            p In the modern world, when competition becomes stronger and stronger from year to year, automation makes it possible to reduce costs and improve quality.<br>The problem of the most CRMs is that they are developed for mass market customers. Ordering a typical system, you will find yourself in “the red ocean” immediately. Here are a lot of competitors and few possibilities for successful development.
            p Such CRMs often contain excessive functionality, which is not needed in the particular case. Or, on the contrary, there are no needed functions in standard solutions.<br>As a result, a customer of typical CRM system has to “adjust” the system for himself. Such adjustment is rather cumbersome both in time and money. It is often easier and cheaper to create system from scratch.
            p Of course, there is another way. To adjust or change business processes according to the features of particular CRM system. Such solution looks practical and reasonable for beginning business. It is right to implement reliable, well proven practices.
            p
              b But typical solutions do not suit promoted, highly competitive business. Standard CRM systems have a lot of “inconvenient” constraints. It is necessary to make many changes and refinements, loosing time and opportunities.
            h3 When is it recommended to order own automation CRM system?
            p <b>When you know, what you have to do and what kind of CRM you need.</b> If you understand, that standard solutions do not suit well, we will develop on order and implement automation system. This unique solution, created specially for the needs of your company, is able to solve strategic and prospective business tasks.
            p We will help you to automate your business using leading CRM technologies, fully oriented to your business processes needs. We will automate business relations, reduce dependence on human factor, and help your company to reach a new development level in the field of sales, marketing, and customers servicing.
            h3 How we create CRM systems on order:
            ol
              li We perform preliminary comprehensive project assessment.
              li We provide advice on all issues relating CRM system.
              li Together with our customers we analyse project requirements and write detailed terms of reference.
              li We develop working version and, if necessary, test intermediate versions.
              li We perform final testing and install turnkey system to the production server.
              li We transfer to the customer a complete documentation package with source code of the automation system.
              li We provide technical support during system operation. In case of new requirements, we repeat all stages.



        form.subscribe-form
          .subscribe-form__title Contact us by phone +7(499)380-73-75 or send project description to info@simplex-software.ru
          button(type="submit" onclick="sendMail();").subscribe-form__submit Send us email
          
    //= template/footer_en.jade

    //= template/scripts.jade