doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade


  body
    #wrapper

      //= template/header.jade

      section.middle.middle-index

        //= template/jumbtrone.jade

        .container
          .methodology
            h1.methodology__title Программное обеспечение для автоматизации бизнеса
            img.methodology__main-img(src="images/methodology-1.jpg", alt="Программное обеспечение для автоматизации бизнеса")
            .methodology__types.methodology-types
              .row
                h4.methodology-types__title.col-xs-7 Гибкие методологии
                h4.methodology-types__title.col-xs-5 Разработка по ТЗ
              .methodology-types__row.row
                .methodology-types__subtitle.align-center.col-xs-12 Применяется когда:
                .methodology-types__left.col-sm-5.col-xs-6
                  ul
                    li(type="circle") Вы не знаете в деталях как должно выглядеть ваше приложение <br>
                    li(type="circle") Требования к продукту формируются в процессе эксплуатации <br>
                    li(type="circle") Продукт может создаваться частями, а уже созданный будет «допиливаться» в режиме техподдержки
                .col-sm-2.col-xs-0
                  img.methodology-types__img(src="images/methodology-2.jpg", alt="Применяется когда")
                .methodology-types__right.col-sm-5.col-xs-6
                  ul
                    li(type="circle") Внешний вид приложения проработан (либо аналитик имеет возможность его проработать) <br>
                    li(type="circle") Требования к продукту заранее известны (либо аналитик имеет возможность их выяснить) <br>
                    li(type="circle") Продукт имеет смысл только со всеми функциями, определёнными в ТЗ. Техподдержка минимальна
              .methodology-types__row.row
                .methodology-types__subtitle.col-xs-12.align-center Плюсы:
                .methodology-types__left.col-sm-5.col-xs-6
                  ul
                    li(type="circle") Экономия средств и времени за счёт отсутствия ТЗ <br>
                    li(type="circle") Возможно добавление нового функционала «на лету» к уже работающей программе в процессе её создания <br>
                    li(type="circle") Реализация только нужной и важной функциональности. Функционал "чтобы было на всякий случай" не делается или делается в последнюю очередь
                .col-sm-2.col-xs-0
                  img.methodology-types__img(src="images/methodology-3.png", alt="Применяется когда")
                .methodology-types__right.col-sm-5.col-xs-6
                  ul
                    li(type="circle") Заранее известен бюджет и сроки <br>
                    li(type="circle") Имея хорошо написанное ТЗ, исполнитель может выбрать оптимальный путь реализации, экономя тем самым средства и время заказчика <br>
                    li(type="circle") Все технические риски - на компании-разработчике
              .methodology-types__row.row
                .methodology-types__subtitle.col-xs-12.align-center Минусы:
                .methodology-types__left.col-sm-5.col-xs-6
                  ul
                    li(type="circle") Бюджет и сроки создания продукта сложно определить заранее. <br>
                    li(type="circle") Возможно, будет выбран не самый оптимальный путь реализации. <br>
                    li(type="circle") На заказчика ложатся дополнительные технические риски
                .col-sm-2.col-xs-0
                  img.methodology-types__img(src="images/methodology-4.png", alt="Применяется когда")
                .methodology-types__right.col-sm-5.col-xs-6
                  ul
                    li(type="circle") Дополнительные расходы на написание и согласование ТЗ <br>
                    li(type="circle") Невозможно добавление нового функционала «на лету», только путём составления нового дополнительного ТЗ <br>
                    li(type="circle") Из-за того что реализуется всё, что описано в ТЗ – возможна реализация неактуального функционала

        form.subscribe-form
          .subscribe-form__title Свяжитесь с нами по телефону +7(499)380-73-75 или пришлите описание проекта на info@simplex-software.ru
          button(type="submit" onclick="sendMail();").subscribe-form__submit Написать нам письмо
          
    //= template/footer.jade

    //= template/scripts.jade