doctype html
html(xmlns='http://www.w3.org/1999/xhtml' lang="ru")

  //= template/head.jade


  body
    #wrapper

      //= template/header.jade

      section.middle.middle-index

        //= template/jumbtrone.jade

        .container
          .methodology
            h1.methodology__title Программное обеспечение для автоматизации бизнеса
            p В современном мире, когда конкуренция с каждым годом становится все сильнее, автоматизация позволяет снизить издержки и улучшить качество.<br>Проблема большинства CRM – они разработаны для клиентов массового рынка. Заказав типовую систему, Вы сразу окажетесь «в красном океане». Здесь много конкурентов и мало возможностей для успешного развития.
            p В подобные CRM часто заложен избыточный функционал, который не нужен в конкретном случае. Или, наоборот, в стандартных решениях нет нужных функций.<br>В итоге, заказчику типовой CRM системы приходится «настраивать» систему под себя. Такая настройка достаточно обременительна, как по времени, так и по деньгам. Зачастую создать систему с нуля бывает проще и дешевле.
            p Конечно, существует другой вариант. Подстроить, либо изменить бизнес-процессы под особенности конкретной CRM-системы. Для начинающих бизнесов подобное решение выглядит практичным и целесообразным. Применять надежные, хорошо зарекомендованные практики – это правильно.
            p
              b Но для раскрученного, высококонкурентного бизнеса типовые решения не подходят. Стандартные CRM-системы имеют массу «неудобных» ограничений. Приходится вносить много изменений и доработок, теряя время и возможности.
            h3 Когда следует заказывать собственную CRM-систему автоматизации?
            p <b>Если Вы знаете, что следует сделать и какая CRM нужна.</b> Когда Вы понимаете, что стандартные решения  плохо подходят – мы разработаем под заказ и запустим систему автоматизации. Это уникальное решение, созданное специально под потребности Вашей компании, способное решать стратегические и перспективные бизнес-задачи.
            p Мы поможем автоматизировать Ваш бизнес, используя передовые CRM-технологии, полностью ориентированные на потребности Ваших бизнес-процессов. Автоматизируем деловые взаимоотношения, снизим зависимость от человеческого фактора, поможем Вашей компании выйти на новый уровень развития в сфере продаж, маркетинга и обслуживания клиентов.
            h3 Как мы создаем CRM-системы под заказ:
            ol
              li Проводим предварительную всестороннюю оценку проекта.
              li Консультируем по всем вопросам, связанным с CRM-системой.
              li Вместе с Заказчиком анализируем требования к проекту, составляем подробное техническое задание.
              li Разрабатываем рабочий вариант, при необходимости тестируем промежуточные версии.
              li Проводим окончательное тестирование, устанавливаем готовую систему на рабочий сервер.
              li Передаём Заказчику полный пакет документации вместе с исходным кодом системы автоматизации.
              li Оказываем техническую поддержку при эксплуатации системы. При новых требованиях повторяем все этапы.


form.subscribe-form
          .subscribe-form__title Свяжитесь с нами по телефону +7(499)380-73-75 или пришлите описание проекта на info@simplex-software.ru
          button(type="submit" onclick="sendMail();").subscribe-form__submit Написать нам письмо
          
    //= template/footer.jade

    //= template/scripts.jade