doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade


  body(data-menu="portfolio")
    #wrapper

      //= template/header.jade

      section.middle.middle-index

        //= template/jumbtrone.jade

        .container
          .for-startup
            .page-title Наше портфолио
            p
            .for-startup__forward Программное обеспечение, разработанное на заказ

            .text-block
              h5.text-block__title.text-block__title_big “Личный Сомелье» для сети магазинов Spar
              .text-block__text
                p.
                  Программа для информационного киоска “Личный Сомелье» для сети магазинов Spar:
                  программа выводит данные на экран при сканировании штрих-кода с бутылки вина.
                p.
                  Комплексная поставка: подбор и закупка оборудования с дальнейшей поставкой в г.Калининград.
                  Разработка программы с нуля, включая:
                  -создание и согласование дизайна;
                  -верстка;
                  -разработка программы;
                  -интеграция со сканером штрих-кодов.
                p
                  | Дизайн окна программы:
                img.text-block__img(src="images/portfolio/wine1.png", alt="Винный советник")
                p
                  | Модель поставленного киоска, как на изображении ниже, только с сканером штрих-кодов.
                img.text-block__img(src="images/portfolio/wine2.jpg", alt="Винный советник")


            .text-block
              h5.text-block__title.text-block__title_big Программа для общеобразовательной школы
              .text-block__text
                p.
                  Программа предназначена для внутрикорпоративного использования. Разработана с нуля.
                  Программа автоматизирует процессы и расчёты в школе, которые ранее велись на бумаге. Ученикам
                  старших и средних классов классным руководителем и учителями-предметниками
                  начисляются баллы — как положительные(за участие в олимпиадах, внеклассную
                  деятельность, поведение и т.п.), так и отрицательные(за опоздания и прогулы). Младшие
                  классы вместо баллов в цифрах получают значки в виде «пчелок», «бабочек», «знаек» и др.
                  В программе удобно просматривать и печатать отчеты: отчет по параллели, отчет классного руководителя,
                  отчет по классам, отчет по триместрам, свой отчет. «Свой отчет» выдаёт данные только по одному ученику
                  либо для самого ученика, либо для его родителей. Доски почета старших и младших классов транслируются
                  на экраны в коридорах школы.
                  Внедрение программы с презентацией-обучением - осень 2017г.
                img.text-block__img(src="images/portfolio/school__1.png", alt="school__1")
                img.text-block__img(src="images/portfolio/school__2.png", alt="school__2")
                img.text-block__img(src="images/portfolio/school__3.png", alt="school__3")
            .text-block
              h5.text-block__title.text-block__title_big Plagiatanet99
              .text-block__text
                p.
                  Сайт предназначен для повышения уникальности документов. Созданы сложные алгоритмы обработки документов, доработана верстка, разработан весь
                  функционал, включая систему оплат.
                p Сайт продукта:&nbsp
                  a(href="https://plagiatanet99.ru/index.html") https://plagiatanet99.ru/index.html
                img.text-block__img(src="images/portfolio/plagiatanet__1.png", alt="plagiatanet__1")
                img.text-block__img(src="images/portfolio/plagiatanet__2.png", alt="plagiatanet__2")
            .text-block
              h5.text-block__title.text-block__title_big Talksift
              .text-block__text
                p.
                  Это дискуссионная площадка (форум) для ведения споров на любые темы. Разработка с нуля. В числе
                  необязательных пожеланий заказчика был голосовой ввод текста. Данная функциональность доступна в браузере Chrome.
                p Сайт продукта:&nbsp
                  a(href="http://talksift.ru/") http://talksift.ru/
                img.text-block__img(src="images/portfolio/talksift__1.png", alt="talksift__1")
            .text-block
              h5.text-block__title База "Арбат" для агентства недвижимости
              .text-block__text
                p.
                  Это CRM-система для внутрикорпоративного использования. Разработана с нуля. Программа позволяет вести
                  базы объектов недвижимости в Москве и МО. Основное направление деятельности заказчика — сделки по
                  аренде помещений в «Москва СИТИ» и по другим объектам элитной недвижимости. В программе реализована
                  автоматическая выгрузка в ЦИАН и АВИТО, поиск по различным параметрам в базе объектов недвижимости
                  и многое другое. Разработка основного функционала завершена около года назад, но программа продолжает
                  развиваться, к ней периодически добавляются новые функции. Одним из последних усовершенствований было
                  добавление автоматического наложения «водяных знаков» на фотографии объектов недвижимости.
                img.text-block__img(src="images/portfolio/arbat__1.png", alt="arbat__1")
            p
            .for-startup__forward Собственные разработки
            .text-block
              h5.text-block__title.text-block__title_big Клуб «Исходный код»
              .text-block__text
                p.
                  Это сайт-клуб для организации встреч программистов и it-специалистов, где каждый участник может
                  предложить свою тему для выступления. На данные момент реализовано удобное голосование по актуальности
                  каждой темы, подсчёт голосов (лайков, дизлайков), быстрая регистрация через соцсети и многое другое.
                  Проект на стадии разработки.
                p Сайт продукта:&nbsp
                  a(href="http://www.source-code.club/") http://www.source-code.club/
                img.text-block__img(src="images/portfolio/source-code__1.png", alt="source-code__1")
                img.text-block__img(src="images/portfolio/source-code__2.png", alt="source-code__2")
            .text-block
              h5.text-block__title.text-block__title_big Открытая база недвижимости «Новые горизонты»
              .text-block__text
                p Это CRM система с открытым исходным кодом, которая позволяет собирать и хранить информацию об объектах недвижимости, контактах владельцев, информацию о рекомендателях; хранить фотографии, отображать объекты на карте; автоматически выгружать объявления в cian.ru и avito.ru; обмениваться информацией об объектах недвижимости с другими агентствами на бесплатной основе. С помощью мобильного приложения пользователь может вводить информацию об объекте через мобильное устройство, делать фотографии и определять геокоординаты. <br>
                p Сайт продукта:&nbsp
                  a(href="http://www.new-horizons.pro/index.html") http://www.new-horizons.pro/index.html
                img.text-block__img(src="images/portfolio/new_horizons__1.png", alt="new_horizons__1")
                img.text-block__img(src="images/portfolio/new_horizons__2.png", alt="new_horizons__2")
                img.text-block__img(src="images/portfolio/new_horizons__3.png", alt="new_horizons__3")
            .text-block
              h5.text-block__title.text-block__title_big SIMPLEX-CRM система для юридических компаний
              .text-block__text
                p.
                  Это специализированная CRM-система, для автоматизации юридических компаний. Она позволяет собирать и хранить
                  информацию о клиенте и историю взаимоотношений с ним; ставить задачи сотрудникам; создавать документы
                  по шаблонам, хранить их на сервере; отслеживать движение дела в суде и получать напоминания о предстоящих делах;
                  Внедрение системы позволяет сократить издержки и повысить качество обслуживания компании.
                p  Ссылка на презентацию системы на нашем сайте:&nbsp
                  a(href="http://simplex-software.ru/juriCRM.html") http://simplex-software.ru/juriCRM.html
                img.text-block__img(src="images/portfolio/simplex-crm__1.png", alt="simplex-crm__1")
                img.text-block__img(src="images/portfolio/simplex-crm__2.png", alt="simplex-crm__2")
                img.text-block__img(src="images/portfolio/simplex-crm__3.png", alt="simplex-crm__3")

        form.subscribe-form
          .subscribe-form__title Свяжитесь с нами по телефону +7(499)380-73-75 или пришлите описание проекта на info@simplex-software.ru
          button(type="submit" onclick="sendMail();").subscribe-form__submit Написать нам письмо

          
    //= template/footer.jade

    //= template/scripts.jade