doctype html
html(xmlns='http://www.w3.org/1999/xhtml' lang="ru")

  //= template/head.jade


  body
    #wrapper

      //= template/header.jade

      section.middle.middle-index

        //= template/jumbtrone.jade

        .container
          .for-startup
            img.for-startup__image.text-center(src="images/startup.jpg", alt="startup", width="445")
            h1.for-startup__title ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ ДЛЯ СТАРТАПОВ
            .for-startup__forward Мы можем и умеем решать сложные задачи, при этом делаем проект так, как Вам необходимо, а не как это позволяют конструкторы сайтов или готовые шаблонные решения.
            .text-block
              h5.text-block__title.text-block__title_big Конфиденциальность
              .text-block__text
                p Компания "Симплекс Софтвер" гарантирует Вам конфиденциальность предоставленной информации. У нас работает проверенная команда и Ваша идея не уйдет на сторону до запуска проекта.
            .text-block
              h5.text-block__title Погружение
              .text-block__text
                p   Мы углубленно изучим вопрос с учетом специфики Вашего стартапа. Проект будет сопровождать личный менеджер.
            .text-block
              h5.text-block__title Выбор технологий
              .text-block__text
                p   Выбор технологий на стадии проектирования существенно влияет на весь процесс разработки, конечный программный продукт и его работу. Наши сотрудники имеют большой опыт, более 20 лет, в разработке проектов и помогут подобрать оптимальное техническое  решение. Посмотреть технологии можно &nbsp
                  a(href="technology.html") здесь.
            .text-block
              h5.text-block__title Гибкий адаптивный интерфейс
              .text-block__text
              img.text-block__img(src="images/adaptive.png", alt="Гибкий адаптивный интерфейс")
              .text-block__text
                p Интерфейс для различных разрешений экрана будет удобен при доступе с любых устройств. Для взаимодействия клиента с сайтом создаётся личный кабинет пользователя. Для взаимодействия клиента с сайтом создаётся личный кабинет пользователя.
            .text-block
              h5.text-block__title Признание поисковыми системами /внутренняя SEO оптимизация
              .text-block__text
                p При разработке порталов и сайтов мы учитываем требования поисковых систем. Это позволяет в дальнейшем получить высокий трафик сайта и минимизировать затраты на рекламу и продвижение.
            .text-block
              h5.text-block__title Управление сайтом
              .text-block__text
                p   Вы сможете управлять Вашим порталом/сайтом самостоятельно. Если проект предусматривает административную часть, мы разрабатываем специальный интерфейс взаимодействия и передаем заказчику вместе с соответствующей документацией(инструкцией) для администраторов.
            .text-block
              h5.text-block__title MVP (minimum viable product)
              img.text-block__img(src="images/scheme-1.png", alt="minimum viable product")
              .text-block__text
                p.
                 Минимально жизнеспособный продукт (MVP) — это программный продукт, обладающий некоторым не полным набором
                 функционала — необходимым для запуска проекта. Им можно пользоваться, он показывает основную идею,
                 но не содержит дополнительных сервисов, без которых можно обойтись на начальном этапе (их присутствие
                 планируется в готовой версии программного продукта). Главным преимуществом MVP является, то, что сбор
                 информации от MVP зачастую дешевле, чем разработка продукта с полным набором функций - это снижает
                 затраты и риски, в случае если продукт вдруг не будет востребован. MVP позволяет провести промежуточный
                 анализ продукта и за счет этого эффективно использовать средства выделенные на разработку. Создавая проект
                 как MVP, Вы сами (или совместо с нами) определяете набор входящего в MVP функционала - что самое важное
                 именно для Вашего стартапа и должно быть в первую очередь, а после окончания сможете подтвердить или
                 скорректировать дальнейшую разработку ПО.<br>
                p Используя этот продукт, Вы сможете на ранней стадии:<br>
                ul
                 li(type="circle") Понять интересует ли Ваша идея потенциальных клиентов<br>
                 li(type="circle") Получаете возможность изменить, откорректировать дальнейшую разработку проекта<br>
                 li(type="circle") Иметь возможность получить отклик от потенциальных клиентов и/или наработать базу приверженцев Вашего стартапа уже на начальной стадии.
              .text-block__text_caption Обычный путь создания продукта
              img.text-block__img(src="images/scheme-2.png", alt="minimum viable product")
              .text-block__text_caption Путь создания продукта через создание MVP
              img.text-block__img(src="images/scheme-3.png", alt="minimum viable product")


        form.subscribe-form
          .subscribe-form__title Свяжитесь с нами по телефону +7(499)380-73-75 или пришлите описание проекта на info@simplex-software.ru
          button(type="submit" onclick="sendMail();").subscribe-form__submit Написать нам письмо

          
    //= template/footer.jade

    //= template/scripts.jade