doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade


  body
    #wrapper

      //= template/header.jade

      section.middle.middle-index
        
        .jumbtrone
          .container
            .logo
              a(href="#!")
                img(src="images/logo.png", alt="logo")
            
            .jumbtrone__body
              .jumbtrone__title Разработка ПО на заказ
              .jumbtrone__subtitle основное направление деятельности компании Simplex Software
        // jumbtrone end
        .container

          .for-startup
            img.for-startup__image.text-center(src="images/startup.jpg", alt="startup", width="445")
            h1.for-startup__title ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ ДЛЯ СТАРТАПОВ
            .for-startup__forward Мы можем и умеем решать сложные задачи, при этом делаем проект так, как Вам необходимо, а не как это позволяют конструкторы сайтов или готовые шаблонные полурешения.
            .text-block
              h5.text-block__title.text-block__title_big Конфиденциальность, проверенная команда, идея не уйдет на сторону до запуска<br/>Безопасность проекта, шифрование
              .text-block__text
                p Выбор технологий на стадии проектирования существенно влияет на весь процесс разработки, конечный программный продукт и его работу. Наши руководители имеют большой опыт, более 20 лет, в разработке проектов и помогут подобрать оптимальное техническое  решение. Посмотреть технологии можно здесь
            .text-block
              h5.text-block__title Выбор технологий
              .text-block__text
                p   Выбор технологий на стадии проектирования существенно влияет на весь процесс разработки, конечный программный продукт и его работу. Наши руководители имеют большой опыт, более 20 лет, в разработке проектов и помогут подобрать оптимальное техническое  решение. Посмотреть технологии можно здесь
            .text-block
              h5.text-block__title Гибкий адаптивный интерфейс
              .text-block__text
                p Для различных разрешений экрана будет удобен при доступе с разных устройств.
              img.text-block__img(src="images/adaptive.png", alt="Гибкий адаптивный интерфейс")
              .text-block__text
                p Для различных разрешений экрана будет удобен при доступе с разных устройств.
            .text-block
              h5.text-block__title Признание поисковыми системами /внутренняя SEO оптимизация
              .text-block__text
                p При разработке порталов и сайтов мы учитываем требования поисковых систем. Это позволяет в дальнейшем получить высокий трафик сайта и минимизировать затраты на рекламу и продвижение.
            .text-block
              h5.text-block__title Управление сайтом
              .text-block__text
                p   Вы сможете управлять Вашим порталом/сайтом самостоятельно. Если проект предусматривает административную часть, мы разрабатываем интерфейс взаимодействия и передаем вместе с документацией(инструкцией) «как пользоваться» для администратора.
            .text-block
              h5.text-block__title MVP (minimum viable product)<br/>Хорошие продукты для стартапов
              img.text-block__img(src="images/scheme-1.png", alt="minimum viable product")
              .text-block__text
                p Минимально жизнеспособный продукт — это программный продукт, обладающий некоторым не полным набором функционала — необходимым для запуска проекта. Им можно пользоваться, он показывает основную идею, но не содержит дополнительных сервисов, без которых можно обойтись на начальном этапе, но их присутствие планируется в готовой версии программного продукта. Главным преимуществом является, что MVP свой для каждого проекта, Вы сами (или совместо с нами) определяете набор необходимого функционала, что должно быть в первую очередь — что самое важное именно для Вашего стартапа. MVP позволяет провести промежуточный анализ и за счет этого эффективно использовать средства выделенные на разработку. Вы сможете подтвердить или скорректировать дальнейшую разработку ПО. Используя этот продукт, Вы сможете на ранней стадии:<br>- Понять интересует ли Ваша идея потенциальных клиентов<br>- Получаете возможность изменить, откорректировать дальнейшую разработку проекта<br>- Возможность получить отклик от потенциальных клиентов и/или наработать базу приверженцев <br>Вашего стартапа уже на начальной стадии
              .text-block__text_caption ПО. Используя этот продукт, Вы сможете на ранней стадии:
              img.text-block__img(src="images/scheme-2.png", alt="minimum viable product")
              .text-block__text_caption ПО. Используя этот продукт, Вы сможете на ранней стадии:
              img.text-block__img(src="images/scheme-3.png", alt="minimum viable product")


    form.subscribe-form(action="subscribe.php", type="post")
      .subscribe-form__title История успеха:  Подпишитесь на  серию писем с историями успеха  наших клиентов.
      input.subscribe-form__email(type="email", name="email", placeholder="e-mail", required)
      input.subscribe-form__submit(type="submit", value="Подписаться")


          
    //= template/footer.jade

    //= template/scripts.jade