doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  //= template/head.jade

  body(data-menu="technology")
    #wrapper

      //= template/header.jade

      section.middle.middle-index

        .jumbtrone
          .container
            .logo
              a(href="index.html")
                img(src="images/logo.png", alt="logo")

            .jumbtrone__body
              .jumbtrone__title Разработка ПО на заказ
              .jumbtrone__subtitle основное направление деятельности компании Simplex Software
        // jumbtrone end

        .container
          .for-startup
            .page-title Используемые технологии
            .text-block__text
              p.
                Не секрет, что успешность реализации проекта (особенно это актуально в условиях, когда нужно уложиться в
                ограниченный бюджет и сроки) зависит от правильного выбора технологий. Выбор технологий происходит на
                стадии проектирования.
            .text-block

            .b-technology__item
              .b-technology__title 
                .b-technology__type Реляционные базы данных:
                .b-technology__name Oracle, Postgresql, Mysql

              .b-technology__images
                img( src="images/logo_teh1.jpg", alt="img")
                img( src="images/logo_teh2.jpg", alt="img")
                img( src="images/logo_teh3.jpg", alt="img")

            .b-technology__item
              .b-technology__title 
                .b-technology__type Нереляционные базы данных:
                .b-technology__name Hadoop, Cassandra

              .b-technology__images
                img( src="images/logo_teh4.jpg", alt="img")
                img( src="images/logo_teh5.jpg", alt="img")
                

            .b-technology__item
              .b-technology__title 
                .b-technology__type Языки программирования:
                .b-technology__name Java, Javascript, Scala

              .b-technology__images
                img( src="images/logo_teh6.jpg", alt="img")
                img( src="images/logo_teh7.jpg", alt="img")
                img( src="images/logo_teh8.jpg", alt="img")
                

            .b-technology__item
              .b-technology__title 
                .b-technology__type Фреймворки:
                .b-technology__name Spring, Hibernate, JDO, Zkoss, GWT, Wicket, EJB

              .b-technology__images
                img( src="images/logo_teh9.jpg", alt="img")
                img( src="images/logo_teh10.jpg", alt="img")
                img( src="images/logo_teh11.jpg", alt="img")
                img( src="images/logo_teh12.jpg", alt="img")


            .b-technology__item
              .b-technology__title
                .b-technology__type Блокчейн:
                  .b-technology__name  Ethereum, Solidity, web3j

              .b-technology__images
                img( src="images/logo_etherium.png", alt="img")
                img( src="images/logo_blockchain.png" alt="blockchain")

            .b-technology__item
              .b-technology__title
                .b-technology__type Картографические сервисы:
                .b-technology__name Яндекс-карты, OpenstreetMap

              .b-technology__images
                img( src="images/logo_teh17.jpg", alt="img")
                img( src="images/logo_teh18.jpg", alt="img")

            .b-technology__item
              .b-technology__title 
                .b-technology__type Другие технологии:
                .b-technology__name Html, Javascript, Xml, веб сервисы

              .b-technology__images
                img( src="images/html5.png", alt="html5 logo")
                img( src="images/js_logo.png.jpg", alt="javascript logo")
                img( src="images/logo_teh15.jpg", alt="xml logo")
                img( src="images/web20_logo.png", alt="web 2.0")

        form.subscribe-form
          .subscribe-form__title Свяжитесь с нами по телефону +7(499)380-73-75 или пришлите описание проекта на info@simplex-software.ru
          button(type="submit" onclick="sendMail();").subscribe-form__submit Написать нам письмо

    //= template/footer.jade

    //= template/scripts.jade
